
    <div>

      <div class="ctrending">
        <div *ngFor="let item of listAverage">
          <img src="{{item.attributes.posterImage.medium}}" alt="">
        </div>
      </div>


      <div class="ctrending">
        <div *ngFor="let item of listCurrent">
          <img src="{{item.attributes.posterImage.medium}}" alt="">
        </div>
      </div>


      <div class="ctrending">
        <div *ngFor="let item of list">
          <img src="{{item.attributes.posterImage.medium}}" alt="">
        </div>
      </div>


      <div class="ctrending">
        <div *ngFor="let item of listUpComing">
          <img src="{{item.attributes.posterImage.medium}}" alt="">
        </div>
      </div>


      <div class="ctrending">
        <div *ngFor="let item of listUsercount">
          <img src="{{item.attributes.posterImage.medium}}" alt="">
        </div>
      </div>
    </div>



